

#loginForm {
    border: 2px solid grey;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 250px;
    margin-left: 20%;
    margin-right: 20%;
}

.header-font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#loginRightSide {
    border-left: 1px solid gray;
    padding-bottom: 5px;
    padding-top: 12px;
    display: inline-block;
}

#loginEnter {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 30px;
}

.menu {
    background-color: white;
    padding: 10px 10px 10px 10px;
}


.weatherbox {
    margin-top: 5%;
    border: 1px solid black;
    margin-bottom: 5%;
    max-width: 400px;
    min-height: 300px;
}

#weatherIcon {
    font-size: 72px !important;
}

.glyphicon {
    font-size: 16px;
}

.glyphiconMenu {
    vertical-align: middle;
    font-size: 25px;
    margin-bottom: 5px;
}

.rounded-button > button {
    border-radius: 100%;
    height: 130px;
    width: 130px;
    text-align: center;
    align-self: flex-start;
    margin: 10px;
}

.rounded-button > .top {
    align-self: flex-start;
}

.rounded-button > .bottom {
    margin-top: 130%;
    align-self: flex-start;
}

.rounded-button > .login {
    height: 100px;
    width: 100px;
}

.rounded-button > .logout {
    height: 100px;
    width: 100px;
    align-self: flex-end;
    margin-bottom: 5px;
}

.rightSide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainMenu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeSymbol {
    height: 180px;
    width: 180px;
}

.pic{
    max-height: 800px;
    max-width: 350px;
}

.picKueche {
    max-height: 800px;
    max-width: 200px;
}

td span {
    text-align: center;
    vertical-align: middle;
    align-items:center;
}

.menuLabel {
    min-width:200px;
    display: inline-block;
    font-size:18px;
}

